
#step01_icon01{
    max-width: 125px;
    max-height: 156px;
    position: absolute;
    top:105px;
    left:66px;
    visibility: hidden;
}

#step01_icon02{
    max-width: 137px;
    max-height: 149px;
    position: absolute;
    top:122px;
    left:422px;
    visibility: hidden;
}

#step01_icon03{
    max-width: 208px;
    max-height: 151px;
    position: absolute;
    top:126px;
    left:754px;
    visibility: hidden;
}

#step01_p05{
    font-family:'Natura Sans Regular';    
    font-size: 30px;
    line-height: 33px;
    color: #FFF;
    max-width: 785px;
    position: absolute;
    top:412px;
    left:75px;
    visibility: hidden;
}

#step01_img01{
    max-width: 85px;
    max-height: 85px;
    position: absolute;
    top:387px;
    left:855px;
    visibility: hidden;
    cursor: pointer;
}

/* Structure */
#steps_box01{
    width: 100%;
    height: 82px;
    position: absolute;
    background-color: #3C1604;
    top:18px;
    left:0px;
    opacity: .9;
    visibility: hidden;
}

#steps_img_click{
    max-width: 63px;
    max-height: 63px;
    position: absolute;
    top: 291px;
    left: 704px;
    visibility: hidden;
    cursor: pointer;
}

#steps_clock{
    max-width: 124px;
    max-height: 124px;
    position: absolute;
    top:248px;
    left:337px;
    visibility: hidden;
}

#steps_timer{
    font-family:'Natura Sans Bold';
    font-size: 63px;
    max-width: 200px;
    color: #3C1604;
    position: absolute;
    text-align: center;
    top:276px;
    left:492px;
    visibility: hidden;
}

#steps_timer_end{
    font-family:'Natura Sans Regular';    
    font-size: 22px;
    line-height: 25px;
    max-width: 90px;
    color: #FFF;
    position: absolute;
    text-align: center;
    top:35px;
    left:920px;    
    visibility: hidden;
}

#steps_continue{
    max-width: 194px;
    max-height: 76px;
    position: absolute;
    top:479px;
    left:830px;
    visibility: hidden;
    cursor: pointer;
}

/* Structure */

/* Quem */
#step02_icon01{
    max-width: 36px;
    max-height: 49px;
    position: absolute;
    top:34px;
    left:19px;
    visibility: hidden;
}

#step02_p01{
    font-family:'Natura Sans Regular';    
    font-size: 35px;    
    color: #FFF;
    max-width: 410px;
    position: absolute;
    top:36px;
    left:80px;    
    visibility: hidden;
}

#step02_wrapper{
    max-width: 1004px;
    position: absolute;
    top:117px;
    left:20px;
}

#step02_list{
    font-family:'Natura Sans Regular';    
    font-size: 24px;
    line-height: 27px;
    color: #3C1604;
    margin: 0px;
    padding: 0px;
    visibility: hidden;
}

#step02_list li{
    padding: 5px 0px;    
}

/* Quem */

/* O Que */

#step03_icon01{
    max-width: 36px;
    max-height: 39px;
    position: absolute;
    top:40px;
    left:18px;
    visibility: hidden;
}

#step03_p01{
    font-family:'Natura Sans Regular';    
    font-size: 35px;    
    color: #FFF;
    max-width: 410px;
    position: absolute;
    top:36px;
    left:80px;    
    visibility: hidden;
}

#step03_wrapper{
    max-width: 1004px;
    position: absolute;
    top:117px;
    left:20px;
}

#step03_list{
    font-family:'Natura Sans Regular';    
    font-size: 22px;
    line-height: 25px;
    color: #3C1604;
    margin: 0px;
    padding: 0px;
     visibility: hidden;
}

#step03_list li{
    padding: 5px 0px;
   
}

#step03_list li p{
    margin: 0px;
    font-size: 22px;
    margin-top: 15px;    
}

#step03_subitem01{
    margin-top: 20px!important; 
}

#step03_subitem03{
    margin-bottom: 15px!important; 
}
/* O Que */