#step01_p01{
    font-family:'Natura Sans Regular';    
    font-size: 40px;
    line-height: 43px;
    color: #FFF;
    max-width: 591px;
    position: absolute;
    top:190px;
    left:200px;    
    visibility: hidden;
}

#step01_img01{
    max-width: 584px;
    max-height: 40px;
    position: absolute;
    top:289px;
    left:200px;
    visibility: hidden;
}

#step02_img01{
    max-width: 612px;    
    position: absolute;
    top:189px;
    left:190px;
    visibility: hidden;
}

#step02_p01{
    font-family:'Natura Sans Regular';    
    font-size: 40px;
    line-height: 43px;
    color: #FFF;
    max-width: 618px;
    position: absolute;
    top:245px;
    left:183px;    
    visibility: hidden;
}

#step03_p01{
    font-family:'Natura Sans Regular';    
    font-size: 24px;
    line-height: 27px;
    color: #FFF;
    max-width: 620px;
    position: absolute;
    top:37px;
    left:0px;    
    visibility: hidden;
}

#step03_vdo01{
    position: absolute;
    top:109px;
    left:153px;
    visibility: hidden;
}

#step03_vdo01 video{
    max-width: 100%;
    max-height: 100%;
}

.mejs__controls:not([style*="display: none"]) {
    background: rgba(197, 204, 76, 1);    
}